@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
    margin: 0;  /* Add margin reset for body */

    user-select: none; /* Disable text selection */
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primar-color-light: #F6F5FF;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 18px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    min-width: 60px;
    font-size: 20px;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02)
}

.sidebar header {
    position: relative;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.text.header-text {
    text-align: center;
}

.name {
    font-size: 260%;
    font-weight: bold;
    color: #4a4b4c;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.active {
    background: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
    transition: var(--tran-04) !important;
    border-radius: 6px;
}

.sidebar li.active a,
.sidebar li.active .icon,
.sidebar li.active .text {
    color: var(--sidebar-color) !important;
    transition: var(--tran-02) !important;
}

.sidebar li.active a {
    background: var(--primary-color) !important;
}


/* STYLES FOR SEARCH CONTAINER AND THE RESULT LIST */

#search-results .result-item-company:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#search-results .result-item-company {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

#search-results .result-item-company:last-child {
    border-bottom: none;
}

#search-results .result-item-company .result-title {
    font-weight: 600;
    margin-bottom: 10px;
}

#search-results .result-item-company.selected {
    background-color: #3498db;
    color: #fff;
}

#search-container-company {
    position: absolute;
    top: 30px;
    left: 60px;
    height: 39px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#search-container-company input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background: var(--primar-color-light);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

#search-results {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    border-radius: 6px;
}

#search-results li {
    border-bottom: 1px solid #ccc;
    background: var(--primar-color-light);
    transition: background-color 0.3s ease;
}

#search-results li:hover {
    background: var(--primar-color-light);
}

#search-results a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
    transition: var(--tran-04);
}

#search-results a:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 6px;
}

/* New styles for the dropdown menu */
#product-dropdown {
    position: relative;
    width: 100%; /* Set the width according to your preference */
    padding: 8px;
    margin-top: 20px;
    background: var(--primar-color-light);
    border-radius: 6px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure the dropdown is above other elements */
}

#product-dropdown option {
    background: var(--primar-color-light);
    color: var(--text-color);

    font-size: 16px;
    font-weight: 500;

    border-radius: 6px;
    padding: 8px;
}

#product-dropdown option:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

#questions-container {
    position: relative;
    width: 50%;
    top: 11px;
    left: 22%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: var(--primar-color-light);
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);

    max-height: 650px;
    overflow-y: auto; 

    scrollbar-width: thin;
    scrollbar-color: #eee #888;
}

#questions-container::-webkit-scrollbar {
    width: 12px;
    display: none;
}

#questions-container::-webkit-scrollbar-thumb {
    background-color: #888;
}

#questions-container::-webkit-scrollbar-track {
    background-color: #eee;
}

.question-container p {
    font-weight: 600;
    margin-bottom: 10px;
}

.options-container {
    margin-left: 20px;
}

.options-container p {
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    transition: background-color 0.3s ease;
}

.options-container p:last-child {
    border-bottom: none;
}

.options-container p:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 6px;
}

.options-container .selected {
    background-color: #f0f0f0; /* Change the background color to your desired highlight color */
    font-weight: bold; /* Change the font weight or any other styles as desired */
    border-radius: 6px;
}

#submit-button {
    position: relative;
    width: 25%;
    left: 60%;
    top: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: var(--primary-color);
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--sidebar-color);
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.option-input {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: var(--primar-color-light);
    padding: 8px;
    margin-bottom: 10px;
    width: 50%; /* Adjust the width as needed */
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.option-input:focus {
    border-color: #3498db; /* Change the border color on focus */
    background-color: #fff; /* Change the background color on focus */
}

#questions-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);
}

#questions-container input[type="text"]::placeholder {
    color: #999;
}

#questions-container input[type="text"]:focus {
    outline: none;
    border-color: #695CFE; /* Change the border color when the input is focused */
}
