@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
    margin: 0;  /* Add margin reset for body */
    user-select: none;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primar-color-light: #F6F5FF;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 16px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    min-width: 60px;
    font-size: 20px;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02)
}

.sidebar header {
    position: relative;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}
.name {
    font-size: 260%;
    font-weight: bold;
    color: #4a4b4c;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}
.text.header-text {
    text-align: center;
}

.active {
    background: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
    transition: var(--tran-04) !important;
    border-radius: 6px;
}

.sidebar li.active a,
.sidebar li.active .icon,
.sidebar li.active .text {
    color: var(--sidebar-color) !important;
    transition: var(--tran-02) !important;
}

.sidebar li.active a {
    background: var(--primary-color) !important;
}

#add-product {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 0px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);

    max-height: 720px;
    overflow-y: auto; 

    scrollbar-width: thin;
    scrollbar-color: #eee #888;
}

#add-product::-webkit-scrollbar {
    width: 12px;
    display: none;
}

#add-product::-webkit-scrollbar-thumb {
    background-color: #888;
}

#add-product::-webkit-scrollbar-track {
    background-color: #eee;
}

#add-product form {
    display: flex;
    flex-direction: column;
}

#add-product form .form-group {
    margin-bottom: 15px;
}

#add-product form label {
    display: block;
    margin-bottom: 5px;
}

#add-product form input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-product form button {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: px;
}

#add-product form button:hover {
    background-color: #286090;
}

#add-product form #questionsContainer {
    position: relative;
}

#add-product form #questionsContainer #questionInputs {
    display: flex;
    flex-direction: column;
}

#add-product form #questionsContainer #questionInputs input {
    margin-bottom: 5px;
}

#add-product form #questionsContainer #addQuestionButton {
    position: absolute;
    top: 0;
    right: 0;
}

#add-product form #optionsContainer {
    position: relative;
}

#add-product form #optionsContainer #optionInputs {
    display: flex;
    flex-direction: column;
}

#add-product form #optionsContainer #optionInputs input {
    margin-bottom: 5px;
}

#add-product form #optionsContainer #addOptionButton {
    position: absolute;
    top: 0;
    right: 0;
}

#add-product form #message {
    margin-top: 15px;
    color: #337ab7;
}


#form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.product-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.form-control {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    user-select: text;
    border: 1px solid #bfbdbd;
    border-radius: 6px;
}

.options-container {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.option-input {
    width: calc(70% - 5px);
    /* Adjust as needed */
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: inline-block;
    /* Added to make elements appear side by side */
}

.add-option-button,
.remove-option-button {
    width: calc(15% - 5px);
    /* Adjust as needed */
    padding: 2px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    /* Added to make elements appear side by side */
}

.add-option-button,
.remove-question-button {
    background-color:var(--primary-color);
    color: white;
    border: none;
    border-radius:6px;
}

.remove-option-button,
.remove-question-button {
    background-color: #ee4d41;
    border-radius:6px;
    width:10%;
    height: 10%;
    padding:1px;
}

.add-option-button:hover,
.remove-option-button:hover,
.add-question-button:hover,
.remove-question-button:hover {
    background-color: #ff0000;
}

.add-question-button,
.display-button {
    width: calc(45% - 2px);  /* Adjust width */
    padding: 5px;
    
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    /* Added to make elements appear side by side */
    margin-right: 10px;  /* Increase this value for more space */
    border-radius: 6px;
    
}
.display-button {
    margin-left: 25px;  /* Adjust this value to move the button more or less */
}

.add-question-button {
    background-color:var(--primary-color);
    color: white;
    border: none;
}

.add-question-button:hover {
    background-color: #286090;
}

.display-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.display-button:hover {
    background-color: #286090;
}


/* Style for the product information container */


.options-container {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.option-input {
    width: calc(60% - 5px); /* Adjust as needed */
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.is-true-radio {
    width: 15px; /* Adjust as needed to make it bigger */
    height: 15px;
    margin-right: 6px; /* Adjust spacing between radio button and option input */
    display: inline-block;
    margin-left: 6px;
}

.remove-option-button {
    width: calc(14% - 5px);
    padding: 1px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    background-color: #ee4d41;
    color: white;
    border: none;
}

.remove-option-button:hover {
    background-color: #ff0000;
}