/* CSS for Product Manager app */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1,
h2 {
    text-align: center;
}

#add-product {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#add-product form {
    display: flex;
    flex-direction: column;
}

#add-product form .form-group {
    margin-bottom: 15px;
}

#add-product form label {
    display: block;
    margin-bottom: 5px;
}

#add-product form input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-product form button {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: 3px;
}

#add-product form button:hover {
    background-color: #286090;
}

#add-product form #questionsContainer {
    position: relative;
}

#add-product form #questionsContainer #questionInputs {
    display: flex;
    flex-direction: column;
}

#add-product form #questionsContainer #questionInputs input {
    margin-bottom: 5px;
}

#add-product form #questionsContainer #addQuestionButton {
    position: absolute;
    top: 0;
    right: 0;
}

#add-product form #optionsContainer {
    position: relative;
}

#add-product form #optionsContainer #optionInputs {
    display: flex;
    flex-direction: column;
}

#add-product form #optionsContainer #optionInputs input {
    margin-bottom: 5px;
}

#add-product form #optionsContainer #addOptionButton {
    position: absolute;
    top: 0;
    right: 0;
}

#add-product form #message {
    margin-top: 15px;
    color: #337ab7;
}

#get-product {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#get-product form {
    display: flex;
    flex-direction: column;
}

#get-product form .form-group {
    margin-bottom: 15px;
}

#get-product form label {
    display: block;
    margin-bottom: 5px;
}

#get-product form input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#get-product form button {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: 3px;
}

#get-product form button:hover {
    background-color: #286090;
}

#get-product form #message {
    margin-top: 15px;
    color: #337ab7;
}

#reset-database {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#reset-database button {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

#reset-database button:hover {
    background-color: #286090;
}

#reset-database h2 {
    text-align: center;
}

#reset-database #message {
    margin-top: 15px;
    color: #337ab7;
}

#form-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.product-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    user-select: text;
}

.options-container {
    width: 100%;
    max-width: 400px;
    /* Adjust as needed */
    margin-top: 10px;
}

.option-input {
    width: calc(70% - 5px);
    /* Adjust as needed */
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: inline-block;
    /* Added to make elements appear side by side */
}

.add-option-button,
.remove-option-button {
    width: calc(15% - 5px);
    /* Adjust as needed */
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    /* Added to make elements appear side by side */
}

.add-option-button,
.remove-question-button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.remove-option-button,
.remove-question-button {
    background-color: #f44336;
}

.add-option-button:hover,
.remove-option-button:hover,
.add-question-button:hover,
.remove-question-button:hover {
    background-color: #ff0000;
}

.add-question-button,
.display-button {
    width: calc(50% - 5px);
    /* Adjust as needed */
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    /* Added to make elements appear side by side */
    margin-bottom: 10px;
}

.add-question-button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.add-question-button:hover {
    background-color: #ff0000;
}

.display-button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.display-button:hover {
    background-color: #ff0000;
}

#search-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#search-button {
    padding: 8px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

/* Style for the product information container */
#product-info {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;     
}

#product-description {
    font-size: 16px;
}

/* Style for the search results list */
#search-results {
    list-style-type: none;
    padding: 0;
}

#search-results li {
    margin: 5px 0;
    padding: 8px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#message-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}


/*  <div id="add-company">
    <h2>Add Company</h2>
    <form id="add-company-form">
      <label for="company-Id">ID:</label>
      <input type="text" id="company-id" name="company-id" required>
      <br>
      <label for="company-Nname">Name:</label>
      <input type="text" id="company-Nname" name="company-Nname" required>
      <br>
      <label for="company-address">Address:</label>
      <input type="text" id="company-address" name="company-address" required>
      <br>
      <label for="company-mail-address">Mail Address:</label>
      <input type="email" id="company-mail-address" name="company-mail-address" required>
      <br>
      <label for="company-fax-number">Fax Number:</label>
      <input type="text" id="company-fax-number" name="company-fax-number" required>
      <br>
      <label for="company-tax-number">Tax Number:</label>
      <input type="text" id="company-tax-number" name="company-tax-number" required>
      <br>
      <label for="company-products">Products:</label>
      <input type="text" id="company-products" name="company-products" required>
      <br>
      <button type="button" id="add-company-Button">Add company-</button>
    </form>
  </div>
  
  
  write style for this one*/

#add-company {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#add-company form {
    display: flex;
    flex-direction: column;
}

#add-company form .form-group {
    margin-bottom: 15px;
}

#add-company form label {
    display: block;
    margin-bottom: 5px;
}

#add-company form input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#add-company form button {
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    border-radius: 3px;
}

#add-company form button:hover {
    background-color: #286090;
}